
module/__init__.py
module/__main__.py
module/helpdocs.txt
module/module_file/__pycache__/module_uninstaller.cpython-38.pyc
module/install.py
module/module_file/module_uninstaller.py
module/README.md
archive_maker.py
PyPi_Package/LICENSE
PyPi_Package/MANIFEST.in
PyPi_Package/README.md
PyPi_Package/setup.py
PyPi_Package/build/lib/py_telegram/__init__.py
PyPi_Package/build/lib/py_telegram/__main__.py
PyPi_Package/build/lib/py_telegram/install.py
PyPi_Package/dist/py_telegram-1.0-py3-none-any.whl
PyPi_Package/dist/py_telegram-1.0.tar.gz
PyPi_Package/py_telegram.egg-info/dependency_links.txt
PyPi_Package/py_telegram.egg-info/PKG-INFO
PyPi_Package/py_telegram.egg-info/top_level.txt
PyPi_Package/py_telegram.egg-info/SOURCES.txt
